*{
	margin: 0;
	padding: 0;
}


body{
	font-family: 'Open Sans', sans-serif;
}

#titulo-principal{

}

.contenedor{
	width: 70%;
	overflow: auto;
	margin: 0 auto;
}

.contenedor4{
	width: 100%;
	text-align: center;
}

nav{
	height: 68px;
}

.logo-header{
	padding-top: 16px;
}

.img-header{
	width: 100%;
}

.lista-padre{
	display: inline-block;
	float: right;
	padding-top: 25px;
}

.lista-hijo{
	display: inline-block;
}

header ul li a , footer ul li a{
	text-decoration: none;
	font-weight: 700;
	color: #162D3F;
	text-transform: uppercase;
	font-size: 13px;
	padding-left: 30px;
}

header ul li a:hover{
	color: #8E8F90;
}

 footer ul li a:hover{
 	color: #8E8F90;
 }

.search-bar{
	padding: 29px;
}

#search-box{
	margin-top: -40px;
}

#search-button{
	box-shadow: none;
	background-color: #00ADF2;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 12px;
	color: white;
	text-transform: uppercase;
	margin-top: 1px;
	margin-left: -5px;
    padding: 28px

}

#search-button:hover{
	background-color: #74C8EA;
	cursor: pointer;
}

#search-button:active{
	box-shadow: none;
	background-color:  #96D3EC;
}

.contenedor2{
	width: 100%;
	overflow: auto;
	margin: 0 auto;
}

.lista-padre-section{
	margin-top: 75px;
	margin-bottom: 85px;
	text-align: center;
}

.lista-hijo-section{
	display: inline-block;
	padding:58px;
}

.dot{
	margin-bottom: 124px;
    transform: rotate(90deg);
}

h2{
	font-weight: 800;
	color: #162D3F;
	font-size: 25px;
	text-align: center;
}

h5 , h4{
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	font-size: 13px;
	color: #162D3F;
	padding: 23px 0px;
}

h6{
	font-size: 13px;
	color: #7C7F80;
	margin-bottom: 85px;
}

p{
	color: #ced1d2;
}

.contenedor-a{
	margin-right: 25px;
}


.parrafo-center{
	text-align: center;
	padding: 30px 0px;
}


.icons-articles-section-2-a{
	margin-left: 399px;
    margin-bottom: -56px;
    margin-right: 64px;
}

.h5-section-2{
	text-align: right;
}

.h5-section-2b{
	text-align: left;
}

.p-section-2{
	text-align: right;
}


.articles-section-2-a{
	width: 382px;
	display: inline-block;
	margin-right: 122px;
	vertical-align: 274px;
}

.articles-section-2-b{
	width: 429px;
	display: inline-block;
	margin-left: 18px;
	vertical-align: 274px;
}

.p-section-2-b{
	text-align: justify;
	margin-left: 74px;
}

.icons-articles-2-b{
	margin-bottom: -56px;
	margin-left: -366px;
}

.img-section-2{
	display: inline-block;
	margin-right: 26px;
}

.dots{
	margin-bottom: 20px;
}

#position-section-2{
	margin-top: 35px;
	
}

#background-section-2y3{
	width: 100%;
	z-index: -99;
    margin-top: -235px;
    margin-bottom: -450px;
    position: relative;
	
}

#section-3{
	margin-top: 120px;

}

.img-section-3{
	width: 100%;
}

 .article-section-3{
 	width: 165px;
	padding: 45px 24px 24px 24px;
	border: 2px double #efeeee;
	margin: 0px 15px;
	background-color: white;
 }

 .listas-section-3{
 	text-align: center;
 	height: 500px;
 	margin-top: 75px;
 }

 .parrafo-section-3{
 	padding: 14px;
 }

.price{
	font-size: 34px;
}

 .button-section-3{
	text-decoration: none;
	padding: 8px 51px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 10px;
	text-transform: uppercase;
	color: white;
	background-color: #01AFF3;
	border-radius: 4px;
 }


.contenedor-pricing-tables{
	width: 90%;
	overflow: auto;
    margin: 0 auto 200px auto;
}

.button-section-3:hover{
	background-color: #6EC9ED;
} 

.button-section-3:active{
	background-color: #AAD2E1;
}

.parrafo-section-3-B{
	 padding: 14px 14px 46px;
}

.background-blue{
    background-color: #142E3F;
}

.h3-footer{
	padding: 120px 0px;
	font-family: 'Raleway', sans-serif;
	font-size: 28px;
	font-weight: 400;
	color: white;

}   

strong{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}

footer{
	background-color: #091722;
}

footer ul li a , footer p{
	color: white;
	font-weight: 400;
	text-transform: none;
}

footer p{
	display: inline-block;
    padding-top: 30px;
    font-size: 13px;
}

#arrow{
	padding-left: 24px;
	position: relative;
    top: 3px;
}




#header-contact{
	width: 550px;
	margin: 0 auto;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 130px;
}

#background-header{
	background-image: url("../img/indexbanner-bg2.jpeg");
	height: 515px;
    margin-top: -93px;
}

#position-header{
	padding-top: 185px;
}

#h2-contact{
	font-size: 35px;
    color: white;
    padding-bottom: 35px;
}

#p-contact{
	line-height: 38px;
	color: #48484a;
	text-align: center;
}

#h2-contact-b{
	margin-top: 130px;
}

.contenedor-contact{
	width: 70%;
	overflow: auto;
	margin: 0 auto;
	margin-bottom: 130px;
}

 .estilos-form{
 	padding: 4px 250px 4px 4px;
    margin-left: 0px;
    margin-right: 0px;
    width: 168px;
    margin-top: 5.5px;
 }

 td{
	padding: 3px 13px;
 }

 textarea{
 	resize:vertical;
 	min-height: 97px;
 	max-height: 97px;
 }

 .button-contact{
 	padding: 9px 65px;
 	margin-top: 25px;
 	background-color: #00AEF2;
 	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 10px;
	text-transform: uppercase;
	color: white;
	border-radius: 5px;
	cursor: pointer;
 }

 .button-contact:active{
 	background-color: #74C8EA;
 }