
$sans: 'Open Sans', sans-serif; 
$raleway: 'Raleway', sans-serif;

$titles-color: #1A3348;
$titles-weight: 800;
$titles-size: 25px;
$subtitles-weight: 700;
$font-color: #666666;
$strong-color: #00B2F5;
$buttons-color: #00ADF2;
$buttons-hover: #74C8EA;
$links-hover: #8E8F90;
$footer-color: #091722;
